*{
  padding: 0;
  margin:0;
} 
body {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  background-color: #181818;
  color: #a0a0a0;
}

.app {
  display: flex;
  height: 100vh;
}

.app .sidebar {
  display: inline-flex;
  flex-grow: 1;
  order:1;
  flex-direction: column;
  list-style: none;
}
.app .sidebar li{
  padding: 10px 0px 10px 10px;
}
.app .sidebar .app-name {
  text-transform: uppercase;
  color: #1b2527;
}

.app .sidebar .card {
  display: block;
  cursor: pointer;
}

/* .app .sidebar .card:nth-last-child(1){
} */
.app .sidebar .card:hover {
  background-color:#1b2527;
}

.app .sidebar .selected{
  background-color:#1b2527;
}

.app .sidebar .card .title {
  display: block;
}


.app .sidebar .card .date {
  color: #5f5f5f;
  display: block;
  font-size: 0.8em;
}

.app .sidebar .action {
  display: inline;
  font-size: 0.8em;
  margin-right: 5px;
  cursor: pointer;
}

.app .sidebar .action:hover {
  color: red;
}

.app .viewer {
  flex-grow: 10;
  order:2;
  padding-left: 25px;
  background-color: #1d1d1d;
}
.app .viewer .toolbar {
  display: block;
  /* height: 5vh; */
}

.app .viewer .title {
  height: 5vh;
  font-size: 1.5em;
  margin: 0;
  background-color: transparent;
  color: white;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.app .viewer .text {
  height: 90vh;
  display: block;
  border: none;
  width: 100%;
  color: #a0a0a0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  overflow-y: hidden;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}