*{
  padding: 0;
  margin:0;
} 
body {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  background-color: #181818;
  color: #a0a0a0;
}

.app .login_logout {
  padding: 10px;
  border: none;
  background-color: #1d1d1d;
  position: absolute;
  top:0;
  right: 0;
  color: #a0a0a0;
  cursor: pointer;
}

.sidebar_viewer {
  display: flex;
  height: 100vh;
}

.sidebar_viewer .action {
  display: inline;
  font-size: 0.8em;
  margin-right: 5px;
  cursor: pointer;
}

.sidebar_viewer .action:hover {
  color: red;
}

.sidebar_viewer .login_logout:hover {
  color: red;
}

.sidebar_viewer .sidebar {
  display: inline-flex;
  order:1;
  flex-direction: column;
  list-style: none;
  min-width: 2em;
}
.sidebar_viewer .sidebar li{
  padding: 10px 20px 10px 10px;
}
.sidebar_viewer .sidebar .sidebar_viewer-name {
  text-transform: uppercase;
  color: #1b2527;
}

.sidebar_viewer .sidebar .cards{
    user-select: none;
}
.sidebar_viewer .sidebar .card {
  display: block;
  cursor: pointer;
}

/* .sidebar_viewer .sidebar .card:nth-last-child(1){
} */
.sidebar_viewer .sidebar .card:hover {
  background-color:#1b2527;
}

.sidebar_viewer .sidebar .selected{
  background-color:#1b2527;
}

.sidebar_viewer .sidebar .card .title {
  display: block;
}

.sidebar_viewer .sidebar .card .date {
  color: #5f5f5f;
  display: block;
  font-size: 0.8em;
}

.sidebar_viewer .viewer {
  flex-grow: 10;
  order:2;
  padding-left: 25px;
  background-color: #1d1d1d;
}
.sidebar_viewer .viewer .toolbar {
  display: block;
  /* height: 5vh; */
}

.sidebar_viewer .viewer .title {
  height: 5vh;
  font-size: 1.5em;
  margin: 0;
  background-color: transparent;
  color: white;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.sidebar_viewer .viewer .text {
  height: 90vh;
  display: block;
  border: none;
  width: 100%;
  color: #a0a0a0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  overflow-y: hidden;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}