body {
  margin: 0;
  padding: 0;
  background-color: #171717;
  color: #b9b9b9;
  font-family: sans-serif;
}

.app {
  display: flex;
}

.app .sidebar {
  display: inline-flex;
  flex-grow: 1;
  order:1;
  flex-direction: column;
}

.app .sidebar .card {
  display: block;
  cursor: pointer;
}

.app .sidebar .card .selected{
  background-color:blue;
}

.app .viewer {
  display: inline-flex;
  flex-grow: 5;
  order:2;
  background-color: red;
}

.app .viewer .text {
  
}